<!-- this is an ejs feature that allows you to store html in other files, such as header.ejs and footer.ejs and simply 'include' them at certain places in your html file. -->
<%- include("header") -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% newListItems.forEach(function(item){ %>
<form class="" action="/delete" method="post">
  <div class="item">
    <input type="checkbox" name= "checkedItem" onChange = "this.form.submit()" value= <%=item._id %> >
    <p class="item"><%= item.name %></p>
  </div>
  <input type="hidden" name="listName" value="<%= listTitle %>"></input>
</form>
  <% }); %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Entry" autocomplete="off">
    <button type="submit" name="list" value=<%= listTitle %>>+</button>
  </form>
</div>

<%- include("footer") -%>
